<div class="general-content">
  <div fxLayoutGap="10px" fxFlexAlign="start" fxLayout="row" fxFlex fxLayoutWrap>
    <div class="title-page">
      <span>Módulos Administrativos</span>
    </div>
    <app-list-role fxFlex="100" fxFlex.gt-md="40%"></app-list-role>
    <app-list-category fxFlex="100" fxFlex.gt-md="40%"></app-list-category>
  </div>
</div>
