<form #f="ngForm" fxLayout="row" fxFlex="100" fxLayoutWrap fxFlex.gt-md="130" class="content-edit-business" [formGroup]="myform">

  <div class="title-page">
    <span>Editar mi negocio
      <b>{{business.name}}</b>
    </span>
    <a matTooltip="Cerrar" mat-icon-button matTooltipPosition="below" mat-button>
      <mat-icon (click)="onNoClick()">close</mat-icon>
    </a>
  </div>

  <!-- Nombre de la empresa -->
  <mat-form-field class="full-width" fxFlex="100" fxFlex.gt-xs="296px">
    <input formControlName="name" name="name" type="text" matInput placeholder="Nombre comercial" required>
    <mat-error>Indique un nombre para el negocio</mat-error>
  </mat-form-field>

  <!-- Telefono -->
  <mat-form-field class="full-width" fxFlex="100" fxFlex.gt-xs="296px" class="full-width">
    <input name="phone" formControlName="phone" matInput placeholder="Teléfono principal de la empresa" type="tel" required>
    <mat-error>Ingrese un telefono valido</mat-error>
  </mat-form-field>

  <!-- Nombre del contacto -->
  <mat-form-field class="full-width" fxFlex="100" fxFlex.gt-xs="296px">
    <input formControlName="fullname_contact" name="fullname_contact" type="text" matInput placeholder="Cual es el nombre del contacto del negocio?"
      required>
    <mat-error>Indique un nombre para el contacto</mat-error>
  </mat-form-field>

  <mat-form-field fxFlex="100" class="input-style">
    <!-- Categoría -->
    <mat-select required formControlName="category" placeholder="Categoría">
      <mat-option *ngFor="let item of category" [value]="item.id">{{item.name}}</mat-option>
    </mat-select>
    <mat-error>Seleccione una categoría</mat-error>

  </mat-form-field>
  
  <!-- Dirección de la empresa -->
  <mat-form-field class="full-width" fxFlex="100" fxFlex.gt-xs="296px">
    <input formControlName="address" name="address" matInput type="text" placeholder="Donde se encuentra ubicado?" required>
    <mat-error>Indique un ubiación para el negocio</mat-error>
  </mat-form-field>
  <div fxFlex="100" fxFlex.gt-xs="296px">
    <button [disabled]="!f.form.dirty" class="full-width button-edit" mat-raised-button color="primary" (click)="updateBusiness(myform)">Actualizar</button>
  </div>
</form>
