.content-edit-business {
    margin: 0 auto;
  }
  
  .full-width {
    width: 100%;
  }
  
  .title-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    & span {
      font-size: 21px;
      font-weight: bold;
      line-height: 24px;
    }
  }
  .button-edit{
      margin-top: 20px;
  }
  