
.content-business {
    width: 80%;
    margin: 0 auto;
  }
  
  .title-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    & span {
      font-size: 14px;
      line-height: 24px;
    }
    & .mat-form-field .mat-form-field-wrapper {
      padding-bottom: 0px !important;
    }
  }
  
  .create-new-business {
    padding: 0px;
    overflow: hidden;
    margin: 0 12px 24px 12px;
    & .content {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 127px;
      flex-wrap: wrap;
      padding: 16px;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
      & .icon-create-business {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & .mat-icon {
          font-size: 48px;
          margin: 8px;
          width: 50px;
          height: 50px;
        }
      }
      & .text-create-business {
        display: flex;
        flex-direction: column;
        & .text-business {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          width: 100%;
        }
      }
    }
    & .footer-content {
      -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12) inset;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12) inset;
      -webkit-flex-direction: row!important;
      flex-direction: row!important;
      padding: 4px 16px;
      width: 100%;
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  .content-my-business {
    padding: 0px;
    overflow: hidden;
    margin: 0 12px 24px 12px;
    & .content {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      min-height: 127px;
      flex-wrap: wrap;
      padding: 16px;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
      & .icon-create-business {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & .mat-icon {
          font-size: 48px;
          margin: 8px;
          width: 50px;
          height: 50px;
        }
      }
      & .content-text-my-business {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        position: relative;
  
        & .edit-business{
            position: absolute;
            top: 0px;
            right: 0px;
        }
        & .text-my-business {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          width: 100%;
        }
        & .name-business {
          font-size: 20px;
        }
      }
    }
    & .footer-content {
      -webkit-flex-direction: row!important;
      flex-direction: row!important;
      padding: 4px 16px;
      width: 100%;
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: center;
    }
  }
  