<div fxLayout="row" fxFlex="100" fxFlex.gt-md="80" fxLayoutWrap class="content-business general-content">

  <div class="title-page">
    <span>Mis negocios</span>
    <mat-form-field>
      <mat-select placeholder="Estados" (change)="getBusinessUser(stateBusiness)" [(ngModel)]="stateBusiness">
        <mat-option value="todos">Todos</mat-option>
        <mat-option value="activo">Activos</mat-option>
        <mat-option value="inactivo">Inactivos</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div fxLayout="row" fxLayoutWrap fxLayoutGap="20px" layout-wrap class="row-example">
    <mat-card fxFlex="100" fxFlex.gt-xs="296px" *ngIf="(stateBusiness == 'activo' || stateBusiness == 'todos') || ( stateBusiness == 'inactivo' && business.length == 0)"
      class="create-new-business">
      <div (click)="createBusiness()" class="content">
        <div class="icon-create-business">
          <mat-icon color="primary">add</mat-icon>
        </div>
        <div class="text-create-business" *ngIf="business.length == 0">
          <span class="text-business">Agregar mi negocio</span>
        </div>
        <div class="text-create-business" *ngIf="business.length != 0">
          <span class="text-business">Agregar otro negocio</span>
        </div>
      </div>
      <div class="footer-content">
        <a (click)="createBusiness()" color="accent" mat-button>Crear negocio
          <mat-icon>add</mat-icon>
        </a>
      </div>
    </mat-card>




    <mat-card [@shrinkOut] fxFlex="100" fxFlex.gt-xs="296px" *ngFor="let item of business" class="content-my-business">
      <div class="content">
        <div class="content-text-my-business">
          <div *ngIf="item.state == 'activo'" class="edit-business">
            <a (click)="openDialogEditBusiness(item)" color="accent" matTooltip="editar negocio" mat-icon-button matTooltipPosition="below"
              mat-button>
              <mat-icon>edit</mat-icon>
            </a>
          </div>
          <span class="text-my-business name-business">{{item.name}}</span>
          <span class="text-my-business">{{item.address}}</span>
          <span class="text-my-business">contacto: {{item.fullname_contact}}</span>
          <span class="text-my-business">creado el: {{item.created_date | date}}</span>
          <span class="text-my-business">telefono: {{item.phone}}</span>
        </div>
      </div>
      <div class="footer-content">
        Estado: {{item.state}}
        <a *ngIf="item.state == 'activo'" (click)="changeStateBusiness(item,'inactivo')" matTooltip="Inactvar negocio" mat-icon-button matTooltipPosition="below"
          mat-button>
          <mat-icon>remove</mat-icon>
        </a>
        <a *ngIf="item.state == 'inactivo'" (click)="changeStateBusiness(item,'activo')" matTooltip="Activar negocio" mat-icon-button matTooltipPosition="below"
        mat-button>
        <mat-icon>check_circle</mat-icon>
      </a>
        <a *ngIf="item.state == 'inactivo'" color="accent" (click)="deleteBusiness(item)" matTooltip="Eliminar negocio" mat-icon-button matTooltipPosition="below"
          mat-button>
          <mat-icon>delete</mat-icon>
        </a>
      </div>
    </mat-card>
    <!-- <div fxFlex="100" fxFlex.gt-xs="296px" *ngFor="let item of works" class="create-new-business">
        <div class="text-create-business">
          <span class="text-business">{{item.name}}</span>
          <span class="text-business">{{item.id}}</span>
        </div>
      </div> -->
  </div>
</div>
