<mat-card class="card-login">
  <form #f="ngForm" [formGroup]="myform" class="form-login">
    <mat-card-title>
      <h2>Iniciar sesión</h2>
    </mat-card-title>
    <div fxLayout="column" fxLayoutGap="20px">
      <div fxFlex="100">
        <mat-form-field class="full-width input-style">
          <mat-icon matPrefix>person_pin</mat-icon>
          <input name="name_user" formControlName="name_user" matInput placeholder="Usuario" type="text" required>
          <mat-error>El nombre de usuario no puede estar en blanco</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field class="full-width">
            <mat-icon matPrefix>https</mat-icon>
          <input name="pwd" formControlName="pwd" matInput placeholder="Contraseña" type="password" required>
          <mat-error>La contraseña no puede estar en blanco y ser demasiado corta (mínimo 7 caracteres)</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100">
        <button [disabled]="!f.form.valid" (click)="loginUser(myform)" type="submit" mat-raised-button color="primary">INGRESAR</button>
      </div>
      <!-- <div fxFlex="100">
                    <div class="buttons-form">
                      <a color="accent" mat-button [routerLink]="['/registry']">Crear cuenta</a>
                    </div>
                  </div> -->
    </div>
  </form>
</mat-card>
