@import '~@angular/material/theming';

// always include only once per project
@include mat-core();
$primary: mat-palette($mat-indigo);
// $accent:  mat-palette($mat-teal, A200, A100, A400);

mat-card {
  // max-width: 80%;
  margin: 2em auto;
  // text-align: center;
}
.form-login
{
  flex-wrap: wrap;
}



.background-page {
  background: map-get($primary, 800);
  height: 30%;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.card-login {
  height: auto;
  // width: 400px;
  box-shadow: none;
  // margin-top: -10%
}

.example-spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.check-login{
  display: flex;
  width: 100%;
  padding-left: 15px;
  justify-content: flex-start !important;
}
.buttons-form
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}