<mat-card class="content-profile">

  <mat-nav-list>
    <mat-toolbar color="primary">
      <h1 matLine *ngIf="user.role == 1">Administrador</h1>
      <h1 matLine *ngIf="user.role == 2">Cliente</h1>
      <span class="example-spacer"></span>

      <button matTooltip="Cerrar menú" matTooltipPosition="below" mat-icon-button mat-button (click)="toggleMenu()">
        <mat-icon class="icon-menu">arrow_back_ios</mat-icon>
      </button>
    </mat-toolbar>



    <div class="menu-content">
      <img class="background-profile" src="assets/img/menu_background.jpg" alt="Background menu">
      <div class="avatar-menu"></div>
      <div class="text-menu">
        <p class="name-menu">{{user.name_user}}</p>
        <p class="email-menu">{{user.email}}</p>
      </div>
    </div>

    <h4 class="divider"> M&oacute;dulos </h4>
    <!-- Rutas para un Administrador -->
    <mat-list-item *ngIf="user.role == 1" [routerLink]="['role']">
      <mat-icon matListIcon>lock</mat-icon>
      <h6 matLine>Módulo Roles </h6>
    </mat-list-item>
    <mat-list-item *ngIf="user.role == 1" [routerLink]="['category']">
      <mat-icon matListIcon>view_list</mat-icon>
      <h6 matLine>Módulo Categorias </h6>
    </mat-list-item>

    <!-- Rutas para un clinte -->
    <mat-list-item *ngIf="user.role == 2" [routerLink]="['home']">
      <mat-icon matListIcon>home</mat-icon>
      <h6 matLine> Mi negocio </h6>
    </mat-list-item>

    <h4 class="divider"> Opciones </h4>
    <mat-list-item [routerLink]="['home']">
      <mat-icon matListIcon>home</mat-icon>
      <h6 matLine>Inicio</h6>
    </mat-list-item>
    <mat-list-item [routerLink]="['profile']">
      <mat-icon matListIcon>person</mat-icon>
      <h6 matLine> Perfil </h6>
    </mat-list-item>

    <mat-list-item (click)="logout();toggleMenu()">
      <mat-icon matListIcon>input</mat-icon>
      <h6 matLine> Cerrar sesión </h6>
    </mat-list-item>

  </mat-nav-list>
</mat-card>
