.example-header-image {
  background-image: url('https://api.adorable.io/avatars/285/abott@adorable.io.png');
  background-size: cover;
}

.example-card {
  width: 100%;
  box-sizing: border-box;
  box-shadow: none !important;
}

mat-nav-list {
  width: 100%;
}

.icon-menu {
  width: 16px;
}

.content-profile {
  padding: 0px;
  height: 100%;
  & .mat-nav-list {
    padding: 0px;
    height: 100%;
  }
  & .menu-content {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    height: 161px;
    & .background-profile {
      width: 100%;
    }
  }
  & .avatar-menu {
    background-size: cover;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border: 2px solid #fff;
    background-image: url('../../assets/icon/ic_launcher_round.png');
    border-radius: 50%;
    position: absolute;
    bottom: 60px;
    left: 13px;
  }
  & .text-menu {
    position: absolute;
    bottom: 0px;
    left: 13px;
    color: white;
    & p {
      margin: 0px;
    }
    & .name-menu {
      font-size: 15px;
      width: 250px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    & .email-menu {
      font-size: 13px;
      margin-top: 2px;
      margin-bottom: 13px;
      width: 250px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.header-menu {}

.divider {
  padding-left: 10px;
  color: #9a9393;
}
.example-spacer {
  flex: 1 1 auto;
}