.content-tab {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 100%;
  align-items: center;
}

.content-page {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/img/material_desing_3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-presentation {
  width: 40%;
  height: 500px;
  background: black;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & .text-content-presentation{
      color:white;
      text-align: center;
  }
}

.tab-style {
  width: 50%;
  height: 500px;
  background: white;
}

.icon-logo{
    width: 100px;
    display: block;
    margin: 0 auto;
}