<!--The content below is only a placeholder and can be replaced.-->
<div class="content-page">

  <div class="content-tab" fxFlexAlign="center" fxLayout="row" fxFlex.xs="90" fxFlex.sm="90" fxFlex.md="80" fxFlex.lg="70">
    <div fxFlex="100" fxShow.xs="false" fxShow.sm="false"  fxShow.gt-lg="false" fxShow="true"  class="card-presentation">
      <img class="icon-logo" src="assets/icon/logo.png" alt="">
      <!-- <h1 class="text-content-presentation">Hello!!</h1> -->
    </div>
    <mat-tab-group fxFlex="100" class="tab-style">
      <mat-tab label="Iniciar sesión">
        <app-login></app-login>
      </mat-tab>
      <mat-tab label="Registrarme">
        <app-registry></app-registry>
      </mat-tab>
    </mat-tab-group>
  </div>


</div>
