
  <!-- <div class="background-page">
  </div> -->
  <mat-card class="card-login">
    <form  #f="ngForm" [formGroup]="myform" class="form-login">
      <mat-card-title fxFlex="100">
        <h2>Crear una cuenta</h2>
      </mat-card-title>
      <!-- Nombre -->
      <div fxFlexAlign="center" fxLayout="row" fxFlex fxLayoutWrap>
        <mat-form-field fxFlex="100" fxFlex.gt-xs="50%" class="input-style">
          <input name="name_user" formControlName="name_user" matInput placeholder="Usuario" type="text" required>
          <mat-error>El nombre de usuario no puede estar en blanco</mat-error>
        </mat-form-field>

        <!-- Contraseña -->
        <mat-form-field fxFlex="100" fxFlex.gt-xs="50%" class="input-style">
          <input name="pwd" formControlName="pwd" matInput placeholder="Contraseña" type="password" required>
          <mat-error>La contraseña no puede estar en blanco (mínimo 7 caracteres)</mat-error>
        </mat-form-field>

        <!-- Correo -->
        <mat-form-field fxFlex="100" fxFlex.gt-xs="50%" class="input-style">
          <input name="email" formControlName="email" matInput placeholder="Correo electrónico" type="email" required>
          <mat-error>El correo electrónico no puede estar en blanco</mat-error>
        </mat-form-field>



        <mat-form-field fxFlex="100" fxFlex.gt-xs="50%" class="input-style">
          <!-- Nombre completo -->
          <input name="name" formControlName="name" matInput placeholder="Nombre (s)" type="text" required>
          <mat-error>Ingrese un nombre(s)</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100" fxFlex.gt-xs="50%" class="input-style">
          <!-- Apellido completo -->
          <input name="last_name" formControlName="last_name" matInput placeholder="Apellido (s)" type="text" required>
          <mat-error>Ingrese un apellido(s))</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100" fxFlex.gt-xs="50%" class="input-style">
          <!-- Genero -->
          <mat-select required formControlName="gender" placeholder="G&eacute;nero">
            <mat-option [value]="1">Masculino</mat-option>
            <mat-option [value]="2">Femenino</mat-option>
          </mat-select>
          <mat-error>Seleccione un g&eacute;nero</mat-error>

        </mat-form-field>
        <mat-form-field fxFlex="100" fxFlex.gt-xs="50%" class="input-style">
          <!-- Telefono -->
          <input name="phone" formControlName="phone" matInput placeholder="Telefono" type="tel" required>
          <mat-error>Ingrese un telefono valido</mat-error>
        </mat-form-field>
        <div fxFlex="100">
          <button [disabled]="!f.form.valid" (click)="createUser(myform)" class="" type="submit" mat-raised-button color="primary">Registrarme</button>
        </div>
        <!-- <div fxFlex="100">
          <div class="buttons-form">
            <a color="accent" mat-button [routerLink]="['/login']">Iniciar sesión</a>
          </div>
        </div> -->
      </div>
    </form>
  </mat-card>
