@import '~@angular/material/theming';

// always include only once per project
@include mat-core();
$primary: mat-palette($mat-indigo);
// $accent:  mat-palette($mat-teal, A200, A100, A400);

mat-card {
  // max-width: 40%;
  // margin: 2em auto;
  // text-align: center;
}
.form-login
{
  flex-wrap: wrap;
}

.content-page {
  height: 100%;
}

.background-page {
  background: map-get($primary, 800);
  height: 30%;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.card-login {
  // margin-top: -10%;
}

.example-spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.input-style {
  padding-right: 20px;
}

.buttons-form {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
