$blue: blue;

mat-toolbar-row {
  justify-content: space-between;
}
.example-spacer {
  flex: 1 1 auto;
}
mat-sidenav {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
html, body, material-app, mat-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
  
  & mat-sidenav {
    width: 300px;
  }
}

.example-sidenav {
  padding: 20px;
}
