<mat-sidenav-container class="example-sidenav-fab-container">
  <mat-sidenav #sidenav mode="side" opened="{{stateSideNav}}">
    <app-menu (navToggle)="sidenav.toggle()"></app-menu>
  </mat-sidenav>

  <div class="my-content">
    <mat-progress-bar *ngIf="loading" [color]="'primary'" [mode]="'indeterminate'" [value]="70" [bufferValue]="75"></mat-progress-bar>
    <mat-toolbar color="primary" *ngIf="user.login">
      <button matTooltip="Menú" matTooltipPosition="below" mat-icon-button  mat-button (click)="toggleMenu()">
        <mat-icon class="mat-24">menu</mat-icon>
      </button>
      <span style="margin-left:20px;">{{nameApp}}</span>
      
      
      <span class="example-spacer"></span>
      <!-- <button mat-icon-button *ngIf="user.login" mat-button (click)="closeSesion();sidenav.close()">
        <mat-icon class="mat-24">input</mat-icon>
      </button> -->
      <app-logout matTooltip="Salir" matTooltipPosition="below" (click)="sidenav.close()"></app-logout>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
