<div class="general-content">
    <div class="form-edit">
      <form #f="ngForm" [formGroup]="myform">
        <div class="title-form">
          <h2>Acción</h2>
        </div>
        <div fxLayoutGap="25px" fxFlexAlign="center" fxLayout="row" fxFlex fxLayoutWrap>
          <!-- Nombre del campo-->
          <div fxFlex="100" fxFlex.gt-xs="46%">
            <mat-form-field class="full-width input-style">
              <input name="campo" formControlName="campo" matInput placeholder="placeholder campo" type="text" required>
              <mat-error>#Validación del campo</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100">
            <div class="buttons-form">
              <button [disabled]="!f.form.dirty"  type="submit" mat-raised-button color="primary">Evento</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  
  </div>
  