.form-edit {
    height: auto;
    transition: all ease-in-out 0.3s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    & form {
      width: 400px;
      margin-top: 30px;
      padding: 20px;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  
  .title-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .buttons-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .input-style {
    padding-right: 20px;
  }
  