  .content-profile {
    margin: 0 auto;
    display: flex;
    width: 90%;
    padding-bottom: 70px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    & .profile {
      width: 100%;
      height: auto;
      & .profile-background {
        position: relative;
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../../assets/img/menu_background.jpg');
        & .user-profile {
          display: flex;
          justify-content: space-between;
          padding-left: 20px;
          padding-bottom: 30px;
        }
        & .avatar-profile {
          background-size: cover;
          height: 60px;
          width: 60px;
          background-color: #fff;
          border: 2px solid #fff;
          background-image: url('../../assets/icon/ic_launcher_round.png');
          border-radius: 50%; //   position: absolute;
          bottom: 30px;
          left: 30px;
        }
        & .buttons-options {
          position: absolute
        }
        & .text-profile {
          //   position: absolute;
          padding-left: 30px;
          color: white;
          & p {
            margin: 0px;
          }
          & .name-profile {
            font-size: 30px;
            font-weight: 500;
            width: 250px;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          & .email-profile {
            font-size: 13px;
            margin-top: 2px;
            margin-bottom: 13px;
            width: 250px;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
    & .strepper-content {
      width: 100%;
    }
  }
