mat-card {
  max-width: 80%;
  margin: 4em;
  text-align: center;
}

.full-width {
  width: 100%;
}

.input-style {
  padding-right: 20px;
}

.form-edit {
  height: auto;
  transition: all ease-in-out 0.3s;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  & form {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.title-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-form {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
