<div fxFlex="100" class="content-list-role" fxLayoutGap="25px" fxFlexAlign="start" fxLayout="row" fxFlex fxLayoutWrap>
  <div fxFlex="100" class="title-form">
  </div>

  <mat-card fxFlex="100" class="list-role">
    <mat-card-title>
      Lista de categorías registradas
    </mat-card-title>
    <mat-card-content>
      <mat-nav-list>
        <mat-list-item [@shrinkOut] *ngFor="let item of category">
          <h3 matLine>Nombre: {{item.name}}</h3>
          <p matLine>Identificador: {{item.id}}</p>
          <button (click)="openDialogEditElement(item)" matTooltip="Editar rol" mat-icon-button matTooltipPosition="below" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteElement(item)" matTooltip="Eliminar rol" mat-icon-button matTooltipPosition="below" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="createElement()" color="accent" mat-button>Crear nueva categoría
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
