<form fxFlex="100" fxFlex.gt-md="100%" #f="ngForm" [formGroup]="myform">
  <div fxLayoutGap="25px" fxFlexAlign="start" fxLayout="row" fxFlex fxLayoutWrap>
    <div class="title-page">
      <span>Crear una categoría</span>
      <a matTooltip="Cerrar" mat-icon-button matTooltipPosition="below" mat-button>
        <mat-icon (click)="onNoClick()">close</mat-icon>
      </a>
    </div>
    <!-- Nombre del rol-->
    <mat-form-field fxFlex="100" class="full-width input-style">
      <input name="name" formControlName="name" matInput placeholder="Nombre del rol" type="text" required>
      <mat-error>Ingresa un nombre para la nueva categoría</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" fxFlex="100">
      <textarea formControlName="description" name="description" type="text" matInput placeholder="Descripción" required></textarea>
      <mat-error>Ingresa una descripción</mat-error>
    </mat-form-field>

    <div fxFlex="100">
      <div class="buttons-form">
        <button [disabled]="!f.form.dirty" (click)="createElement(myform)" type="submit" mat-raised-button color="primary">Crear categoría</button>
      </div>
    </div>
  </div>
</form>
