<div class="general-content">

  <!-- Si el usuario es rol clientr -->
  <app-home-client *ngIf="user.role == 2"></app-home-client>
  <!-- Si el usuario es rol administrador -->
  <app-home-admin *ngIf="user.role == 1"></app-home-admin>
</div>
