.buttons-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.full-width {
  width: 100%;
}

.title-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  & span {
    font-size: 21px;
    font-weight: bold;
    line-height: 24px;
  }
}
