<form fxFlex="100" fxFlex.gt-md="100%" #f="ngForm" [formGroup]="myform">
  <div fxLayoutGap="25px" fxFlexAlign="start" fxLayout="row" fxFlex fxLayoutWrap>
    <div class="title-page">
      <span>Crear un rol</span>
      <a matTooltip="Cerrar" mat-icon-button matTooltipPosition="below" mat-button>
        <mat-icon (click)="onNoClick()">close</mat-icon>
      </a>
    </div>
    <!-- Nombre del rol-->
    <div fxFlex="100" fxFlex.gt-xs="100%">
      <mat-form-field class="full-width input-style">
        <input name="name" formControlName="name" matInput placeholder="Nombre del rol" type="text" required>
        <mat-error>Ingresa un nombre para el nuevo rol</mat-error>
      </mat-form-field>

    </div>
    <div fxFlex="100">
      <div class="buttons-form">
        <button [disabled]="!f.form.dirty" (click)="createRole(myform)" type="submit" mat-raised-button color="primary">Crear rol</button>
      </div>
    </div>
  </div>
</form>
