<form #f="ngForm" fxLayout="row" fxFlex="100" fxLayoutWrap fxFlex.gt-md="130" [formGroup]="myform">

  <div class="title-page">
    <span>Editar Rol
      <b>{{role.name}}</b>
    </span>
    <a matTooltip="Cerrar" mat-icon-button matTooltipPosition="below" mat-button>
      <mat-icon (click)="onNoClick()">close</mat-icon>
    </a>
  </div>

  <!-- Nombre de la empresa -->
  <mat-form-field class="full-width" fxFlex="100" fxFlex.gt-xs="296px">
    <input formControlName="name" name="name" type="text" matInput placeholder="Nombre del rol" required>
    <mat-error>Ingresa un nombre para el nuevo rol</mat-error>
  </mat-form-field>

  <div fxFlex="100" fxFlex.gt-xs="296px">
    <button [disabled]="!f.form.dirty" class="full-width button-edit" mat-raised-button color="primary" (click)="updateRole(myform)">Actualizar</button>
  </div>
</form>
